p {
    color: #994a47;
    font-family: "Optima", sans-serif;
    font-weight: lighter;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: left;
  }
  
  p span {
    display: block;
  }
  
  .tagline {
    color: #510300;
    text-shadow: 1px 0px 1px #ffb7b1;
    text-decoration: underline;
    font-size: xxx-large;
    font-weight: bolder;
    text-align: left;
    font-family: "Optima", serif;
  }
  
  .aboutcontent {
    background-color: #ffb7b1;
    border: 10px #994a47;
    border-radius: 15px;
    box-shadow: 10px 20px 30px #510300;
    align-items: center;
    padding: 2%;
    width: 95%;
    margin-top: 4%;
  }
  
  .abouttext {
    color: #fdd1cd;
    font-family: "Optima", sans-serif;
    font-size: x-large;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: justify;
  }
  
  h3 {
    color: #510300;
    font-family: "Optima", sans-serif;
    text-decoration: underline;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
  }