* {
  box-sizing: border-box;
}

.nav {
  background-color: #fff6f5;
  color: #510300;
  display: flex;
  padding: 1rem;
  align-items: center;
  height: 8vh;
  box-shadow: 1px 0px 20px 1px #da706c;
}
.nav .leftSide {
  flex: 50%;
}

.nav .leftSide img {
  height: 8vh;
}

.nav .rightSide {
  flex: 50%;
  display: flex;
  justify-content: right;
}

.nav .rightSide ul {
  padding: 0;
  font-size: x-large;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #510300;
  font-family: "Optima", sans-serif;
}

.nav .rightSide button {
  display: none;
  margin-left: 20px;
}
.nav .rightSide #hidden {
  display: flex;
}

.nav li.active {
  background-color: #ffb7b1;
}

.nav li:hover {
  background-color: #ffb7b1;
}

.mapbackground {
  background-color: #da706c;
  border-radius: 70px;
  height: 70vh;
  width: 70%;
  margin: auto;
  align-self: center;
  padding-inline-start: 10%;
  padding-top: 5%;
  padding-right: 5%;
  box-shadow: 10px 20px 30px #510300;
}

.inputboxes {
  background-color: #ffb7b1;
  border-radius: 15px;
  box-shadow: 10px 20px 30px #510300;
  height: 40vh;
  width: 30%;
  text-align: center;
  padding: 5%;
}

.inputboxesmessage {
  background-color: #ffb7b1;
  border-radius: 15px;
  display: flex;
  box-shadow: 10px 20px 30px #510300;
  height: 25vh;
  width: 30%;
  text-align: center;
  padding: 2%;
  margin: -21em 0 1rem 8rem;
  margin-left: 58%;
}

.inputtextarea {
  display: block;
  font-family: "Optima", sans-serif;
  background-color: #fff6f5;
  height: 100%;
  width: 100%;
  padding: 0.5rem 0.8rem 1.5rem 0.9rem;
  margin: 0.9vw 0;
  border: 0;
  border-radius: 7px;
  box-shadow: 2px 5px #994a47;
  font-size: 20px;
}

.clickbutton {
  color: #fff6f5;
  background-color: #994a47;
  border-color: #994a47;
  font-family: "Optima", sans-serif;
  font-weight: bolder;
  font-size: larger;
  border-radius: 5px;
  box-shadow: 2px 5px #510300;
  text-align: center;
  padding: 10px;
  margin-left: 70%;
  margin-top: 5%;
}

.clickbutton:hover {
  transform: translateY(5px);
}

.placessearchbar {
  color: #510300;
  background-color: #994a47;
  border-color: #994a47;
  font-family: "Optima", sans-serif;
  font-weight: bolder;
  font-size: larger;
  border-radius: 10px;
  box-shadow: 2px 5px #510300;
  text-align: center;
  padding: 10px;
  margin-top: 5%;
}

.crimemap {
  background-color: #ffb7b1;
  border-radius: 70px;
  height: 60vh;
  width: 105%;
  margin: -3em 0 1rem -3rem;
  display: block;
  position: relative;
  align-self: center;
  padding-inline-start: 7%;
  padding-top: 5%;
  padding-right: 5%;
  box-shadow: 10px 20px 30px #510300;
}

@media only screen and (max-width: 950px) {
  .nav .rightSide ul {
    font-size: large;
  }
}

@media only screen and (max-width: 750px) {
  .nav .rightSide ul {
    font-size: medium;
  }
}
@media only screen and (max-width: 670px) {
  .nav .rightSide ul {
    font-size: small;
  }
}

@media only screen and (max-width: 600px) {
  .nav .rightSide button {
    display: flex;
  }

  .nav .rightSide ul {
    display: none;
  }
  .nav {
    box-shadow: 0px 0px 0px 0px #da706c;
  }
  .nav .rightSide #hidden {
    position: absolute;
    left: 0;
    top: 6vh;
    height: auto;
    width: 100%;
    background-color: #fff6f5;
    color: #510300;
    box-shadow: 1px 0px 12px 1px #da706c;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
