body {
  margin: 0;
  overflow-x: hidden;
}

.reporttext {
  color: #510300;
  font-size: xx-large;
  align-items: center;
  text-align: center;
  font-family: "Optima", sans-serif;
}


.page {
  margin: auto;
  padding: 6%;
  height: 70vh;
  width: 80vw;
}

.background {
  background-color: #da706c;
  border-radius: 70px;
  padding-inline-start: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 5%;
  box-shadow: 10px 20px 30px #510300;
  margin-bottom: 5%;
  margin-top: 7%;
}

.reportForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputboxes {
  background-color: #ffb7b1;
  border-radius: 15px;
  box-shadow: 10px 20px 30px #510300;
  list-style: none;
  padding: 5%;
  width: 50%;
  margin-top: 3%;
}

.inputboxesmessage {
  background-color: #ffb7b1;
  border-radius: 15px;
  display: flex;
  box-shadow: 10px 20px 30px #510300;
  height: 20%;
  width: 35%;
  margin-top: 3%;
  margin-right: 5%;
  padding: 2% 4%;
}

.inputtextarea {
  display: block;
  font-family: "Optima", sans-serif;
  background-color: #fff6f5;
  height: 100%;
  width: 100%;
  padding: 0.5rem 0.8rem 1.5rem 0.9rem;
  margin: 0.9vw 0;
  border: 0;
  border-radius: 7px;
  box-shadow: 2px 5px #994a47;
  font-size: 20px;
}

.messagebutton {
  margin-top: -10%;
  margin-right: auto;
  margin-left: 70%;
  width: fit-content;
  overflow-wrap: break-word;
}

.pagebutton button {
  color: #fff6f5;
  background-color: #994a47;
  border-color: #994a47;
  font-family: "Optima", sans-serif;
  font-weight: bolder;
  font-size: larger;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 2px 5px #510300;
  text-align: center;
  padding: 10px;
}

.pagebutton button:hover {
  transform: translateY(5px);
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  color: #fdd1cd;
  font-family: "Optima", sans-serif;
  font-size: x-large;
}

.mapbackground {
  background-color: #da706c;
  border-radius: 50px;
  height: 100%;
  margin-bottom: 10%;
  width: 80%;
  align-self: center;
  align-content: center;
  padding-inline-start: 10%;
  padding: 2%;
  box-shadow: 10px 20px 30px #510300;
  position: absolute;
}

.placessearchbar {
  color: #510300;
  background-color: #994a47;
  border-color: #994a47;
  font-family: "Optima", sans-serif;
  font-weight: bolder;
  font-size: larger;
  width: 90%;
  border-radius: 10px;
  box-shadow: 2px 5px #510300;
  text-align: center;
  align-self: center;
  margin: 0% 5% 0% 5%;
  padding: 1% 2%;
}

.crimemap {
  background-color: #ffb7b1;
  border-radius: 30px;
  height: 70%;
  width: 100%;
  padding: 2% 3% 2% 3%;
  margin-top: 5%;
  position: relative;
  align-self: center;
  box-shadow: 10px 20px 30px #510300;
}

.logo {
  margin-top: 10vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 50%;
}

.homeimage {
  background-color: #fff6f5;
  border-radius: 50%;
  width: 50%;
  display: flex;
  box-shadow: 15px 30px 30px #994a47;
}

#locationSearch a {
  text-decoration: underline;
}

.Data {
  text-align: center;
  z-index: -2;
  font-family: "Optima", sans-serif;
  font-weight: bolder;
}

.text2 {
    color: #510300;
    font-family: "Optima", sans-serif;
    width: 100%;
    text-align: justify;
    font-size: 100%;
    padding: 5%;
    padding-top: 25%;

  
}

@media only screen and (max-width: 600px) {
  .tagline, .abouttext, .reporttext {
    font-size: x-small;
    padding-top: 10%;
  }
  .aboutcontent, .travelalternatives, .individualcontainer {
    font-size: x-small;
    padding-bottom: 30%;
  }

  .aboutcontent:hover {
    padding-top: 40%;
    margin-bottom: 10%;
  }

  .individualcontainer:hover {
    margin-bottom: 10%;
  }

  .placessearchbar, .mapbackground {
    width: 90%;
  }

  .middle {
    font-size: x-small;
    font-weight: lighter;
    text-align: justify;
    padding-top: 10%;
  }

  .text2, .text {
    font-size: 90%;
    font-weight: lighter;
    text-align: justify;
    padding-top: 30%;
  }

  .background {
    padding-bottom: 10%;
  }

  .pagebutton, .messagebutton {
    width: 50%;
    font-size: xx-small;
    display: block;
    flex-direction: column;
    padding-top: 20%;
  }

  .inputboxes, .inputboxesmessage, .inputtextarea, .search {
    width: 100%;
    font-size: xx-small;
    display: block;
    flex-direction: column;
  }

}

@media only screen and (max-width: 670px) and (min-width: 601px) {
  .abouttext, .reporttext {
    font-size: small;
    padding-top: 10%;
  }

  .tagline {
    font-size: large;
    padding-top: 10%;
  }

  .aboutcontent, .travelalternatives, .individualcontainer {
    font-size: small;
    padding-bottom: 30%;
  }

  .placessearchbar, .mapbackground {
    width: 90%;
  }

  .text {
    font-size: x-small;
    padding: 0;
  }

  .middle, .text2 {
    font-size: small;
    font-weight: light;
    text-align: justify;
    padding-top: 30%;
  }

  .background {
    padding-bottom: 10%;
  }

  .pagebutton, .messagebutton {
    width: 50%;
    font-size: small;
    display: block;
    flex-direction: column;
    padding-top: 20%;
  }

  .inputboxes, .inputboxesmessage, .inputtextarea, .search {
    width: 100%;
    font-size: small;
    display: block;
    flex-direction: column;
  }

}

@media only screen and (max-width: 750px) and (min-width: 671px) {
  .abouttext, .reporttext {
    font-size: medium;
    padding-top: 10%;
  }

  .tagline {
    font-size: x-large;
    padding-top: 10%;
  }

  .aboutcontent, .travelalternatives, .individualcontainer {
    font-size: medium;
    padding-bottom: 40%;
  }

  .placessearchbar, .mapbackground {
    width: 90%;
  }

  .text {
    font-size: small;
    padding: 0;
  }

  .middle, .text2 {
    font-size: medium;
    font-weight: light;
    text-align: justify;
    padding-top: 30%;
  }

  .background {
    padding-bottom: 10%;
  }

  .pagebutton, .messagebutton {
    width: 50%;
    font-size: medium;
    display: block;
    flex-direction: column;
    padding-top: 20%;
  }

  .inputboxes, .inputboxesmessage, .inputtextarea, .search {
    width: 100%;
    font-size: medium;
    display: block;
    flex-direction: column;
  }

}

@media only screen and (max-width: 950px) and (min-width: 751px) {
  .abouttext, .reporttext {
    font-size: large;
    padding-top: 10%;
  }

  .tagline {
    font-size: xx-large;
    padding-top: 10%;
  }

  .aboutcontent, .travelalternatives, .individualcontainer {
    font-size: large;
    padding-bottom: 50%;
  }

  .placessearchbar, .mapbackground {
    width: 90%;
  }

  .middle, .text2 {
    font-size: large;
    font-weight: light;
    text-align: justify;
    padding-top: 40%;
  }

  .text {
    font-size: small;
    padding-left: 4%;
  }

  .background {
    padding-bottom: 10%;
  }

  .pagebutton, .messagebutton {
    width: 50%;
    font-size: large;
    display: block;
    flex-direction: column;
    padding-top: 20%;
  }

  .inputboxes, .inputboxesmessage, .inputtextarea, .search {
    width: 100%;
    font-size: large;
    display: block;
    flex-direction: column;
  }

}

@media only screen and (max-width: 1151px) and (min-width: 951px) {
  

  .individualcontainer {
    padding-bottom: 50%;
  }

  .aboutcontent {
    height: 60%;
    width: 100%;
  }
  .placessearchbar, .mapbackground {
    width: 90%;
  }

  .middle, .text2 {
    font-size: large;
    font-weight: light;
    text-align: justify;
    padding-top: 20%;
  }

  .background {
    padding-bottom: 10%;
  }

  .pagebutton, .messagebutton {
    width: 50%;
    font-size: large;
    display: block;
    flex-direction: column;
    padding-top: 20%;
  }

  .inputboxes, .inputboxesmessage, .inputtextarea, .search {
    width: 100%;
    font-size: large;
    display: block;
    flex-direction: column;
  }

}