body {
    margin: 0;
    overflow-x: hidden;
    
}

.homeimage {
  background-color: #fff6f5;
  border-radius: 50%;
  width: 50%;
  display: flex;
  box-shadow: 15px 30px 30px #994a47;
}

#locationSearch a {
  text-decoration: underline;
}
